<%= form_for(@entry, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Compose title new entry...", class: "form-control" %>
  </div>
  <div class="field">
   <%= f.label :body %>
   <%= f.text_area :body, placeholder: "Compose new entry...", class: "form-control" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
